.App-intro {
    font-size: large;
}

@keyframes  App-llogo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.mt-50 {
    margin-top: 50px;
}

span {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

.active {
    border: solid 3px black;
}

#content {
    padding: 10px;
    border: solid 3px red;
}