.ml-5 {
    margin-left: 5px;
}
.mr-5 {
    margin-right: 5px;
}
.pr-5 {
    padding-right: 5px;
}
.pl-5 {
    padding-left: 5px;
}
.mt-5 {
    margin-top: 5px;
}
span {
    padding: unset;
    margin: unset;
}